body {
    margin: 0;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.container {
    width: 100%;
    min-height: 100vh;
    overflow:hidden;
}
.inner-dashboard-div1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.inner-dashboard-div2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 280px;
}
.sidebar {
    width: 260px;
    height: 100vh;
    background-color: #4f86f7;
    display: flex;
    flex-direction: column;
    gap: 145px;
    position:fixed;
}
#role {
    width: 90px;
    height: 50px;
    font-size: 18px;
    text-align: center;
    background-color: #4f86f7;
    border-radius: 5px;
    margin-left: 80px;
    margin-top: 30px;
    color: white;
}
.sidebar_items {
    width: 200px;
    height: 400px;
    font-size: 30px;
    padding-left: 55px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
}

#main-area1 {
    width: 600px;
    margin-left: auto;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: #483d8b;
}
.heading1{
    font-size:25px;
}
#value-Balance {
    font-size: 23px;
    color: #483d8b;
}
#income-expenses{
    width:400px;
    height:200px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:30px;
/*    background-color:aqua;*/
}
#value-income{
    width:180px;
    height:100px;
    background-color:aliceblue;
    border-radius:20px;
    align-content:center;
}
#value-expenses {
    width: 180px;
    height: 100px;
    background-color: aliceblue;
    border-radius: 20px;
    align-content: center;
}

#add-transaction {
    width: 600px;
    height: 400px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
}
#desc, #amt {
    width: 500px;
    height: 32px;
    font-size: 15px;
    display: flex;
    gap: 40px;
    border: 2px solid black;
    border-radius: 10px;
}
label{
    font-size:20px;
    
}
#bnt {
    width: 150px;
    height: 40px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    background-color: #483d8b;
}
#chart1 {
    width: 500px;
    height: 500px;
    display: flex;
    padding: 20px 0 0 60px;
}
#chart2 {
    width: 320px;
    height: 320px;
    display: flex;
    padding: 0 0 0 150px;
}
.container1 {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
#search_div {
    width: 500px;
    padding-left: 1100px;
    padding-top: 20px;
}
#search {
    width: 400px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    font-size:20px;
}
#table-heading {
    font-size: 30px;
    padding: 0 0 25px 0;
    color: #483d8b;
}
#table-div{
    width:100%;
    height:60vh;
    padding: 40px 0 0 350px;
}
table{
    width:70%;
    height:200px;
    border-collapse:collapse;
}
th , td{
    padding:4px 8px;
    height:30px;
    text-align:left;
    border-bottom: 1px solid;
    border-left:none;
    border-right:none;
    border-top:none;
}
th {
    background-color: #DBDAD3;
}
tr{
    line-height:1.2px;
}
#in-heading{
    font-size: 40px;
    height: 30px;
    padding-left: 750px;
     color: #483d8b;
}
#insights{
    display: flex;
    flex-direction: row;
    padding: 0px 0 0 80px;
}
#div-insight{
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap:2px;
    align-items:center;
    justify-content: center;
}
#head-In{
    width:500px;
    height: 150;
    padding: 10px 0 0 70px;
}
#chart3{
    width: 500px;
    height: 500px;
    display: flex;
    padding: 20px 0 0 280px;
}
#p-in{
    font-size: 20px;
    width: 500px;
    height: 150px;
    font-weight: bold;
    padding-left: 60px;
}
@media (max-width: 600px) {
    .inner-dashboard-div1 {
        flex-direction: column;
        left: 0px;
    }

    .sidebar {
        width: 100%;
        height: 50px;
        flex-direction: row;
        gap: 40px;
    }

    #role {
        margin-left: 0;
        margin-top: 0;
        font-size: 15px;
        height: 40px;
    }

    .sidebar_items {
        flex-direction: row;
        font-size: 16px;
        gap: 15px;
        padding-left: 0;
        padding: 10px;
    }

    #main-area1 {
        width: 400px;
        padding: 50px 0 0 0;
    }

    #add-transaction {
        width: 400px;
    }

    #desc, #amt {
        width: 300px;
        height: 25px;
        font-size: 12px;
    }

    label {
        font-size: 15px;
    }

    #bnt {
        width: 120px;
        height: 30px;
        font-size: 15px;
    }

    .inner-dashboard-div2 {
        height: 80vh;
        width: 10%;
        flex-direction: column;
        gap: 0px;
         padding-left: 0px;
    }

    #chart1 {
        width: 380px;
        padding: 20px 5px 0 0;
    }

    #chart2 {
        width: 300px;
        padding: 0 0 0 40px;
    }
   
    #search_div {
        padding-left:120px;
        padding-top:40px;
        width:300px;
    }

    #search {
        width: 180px;
        height: 25px;
        font-size: 12px;

    }

    #table-div {
        width:100%;
        padding: 30px 0 0 0px;
    }

    th{
        font-size:12px;
    }
    #in-heading{
    font-size: 30px;
    height: 30px;
    padding: 0px;
}
#insights{
    height: 70vh;
    flex-direction: column;
    padding: 0;
    gap:0px;
}
#div-insight{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
}
#head-In{
    width:500px;
    height: 150;
    padding: 0 0 0 320px;
}
#chart3{
    width: 370px;
    height: 500px;
    display: flex;
    padding: 10px 0 0 0px;
}
#p-in{
    font-size: 20px;
    width: 500px;
    font-weight: bold;
    padding: 0px 0 0 320px;
}
}
